/* Common */
:root {
  --light: #ffffff;
  --dark: #000000;
  --dark_light: #141922;
  --green: #adff2f;
  --grey: #7b7d82;
  --footer: #282828;
  --grey_icon: #808080;
  --grey_footer: #7f7f7f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark_light);
  font-family: 'Circular Std', sans-serif;
}

main h2 {
  color: var(--light);
}

main h2, main p, #visual {
  margin-left: 17px;
}

img {
  max-width: 100%;
  /* vertical-align: middle; */
}

a {
  text-decoration: none;
}
/* Utility */
.d_flex {
  display: flex;
}

.direction_column {
  flex-direction: column;
}

.justify_content_center {
  justify-content: center;
}

.justify_content_end {
  justify-content: flex-end;
}

.justify_content_between {
  justify-content: space-between;
}

.align_item_start {
  align-items: flex-start;
}

.align_items_center {
  align-items: center;
}

.btn {
  border: 1px solid var(--light);
  border-radius: 2rem;
  padding: 15px 41px;
  width: 219px;
}

.text_center {
  text-align: center;
}

.flex_wrap {
  flex-wrap: wrap;
}

.unstyle_list {
  list-style: none;
}

.circle, .circle_icon {
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.circle_icon {
  width: 23px;
}

.gray {
  color: var(--grey_footer);
}
/* #region Debug */
  .debug .top {
    background-color: aquamarine;
  }

  .debug header {
    background-color: cyan;
  }

  .debug .sidebar {
    background-color: blue;
  } 

  .debug .sidebar_top {
    background-color:fuchsia;
  }

  .debug .sidebar_bottom {
    background-color: red;
  }

  .debug .content {
    background-color: blueviolet;
  }

  .debug footer {
    background-color: lime;
  }
/* #endregion Debug */

/* #Region Layout */
.top {
  height: calc(100vh - 86px);
  display: flex;
}

.top > .sidebar {
  width: 37px;
  overflow: hidden;
}

.top .sidebar_top {
  height: calc(100% - 70px);
}

.top .sidebar_bottom {
  height: 70px;
}

.top > .content {
  width: calc(100% - 37px);
  overflow-y: auto;
}

.col_1 {
  width: calc(100% / 12);
}

.col_2 {
  width: calc(100% / 12 * 2);
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: calc(100% / 12 * 4);
}

.col_5 {
  width: calc(100% / 12 * 5);
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: calc(100% / 12 * 7);
}

.col_8 {
  width: calc(100% / 12 * 8);
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: calc(100% / 12 * 10);
}

.col_11 {
  width: calc(100% / 12 * 11);
}

.col_12 {
  width: 100%;
}

/* Sidebar */
.logo {
  margin-top: 4px;
  margin-bottom: 3px;
}

.sidebar_top {
  padding-bottom: 11px;
}

.sidebar_top img, .sidebar_bottom img {
  width: 60%;
}

/* Sidebar bottom */
.download {
  width: 50%;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.profile {
  background-color: var(--grey_icon);
  margin-left: 0.45rem;
}
/* Main */
/* Header */
header {
  background-color: var(--dark);
}

header a {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 27px;
  margin-right: 11px;
  color: var(--light);
  font-size: 0.7rem;
}

/* Nav */
nav {
  margin-top: 36px;
  margin-bottom: 79px;
}

nav a {
  color: var(--grey);
  padding-left: 1rem;
  padding-bottom: 30px;
  height: 1rem;
}

nav a:hover {
  text-decoration: underline var(--green);
}

/* Visual */
#visual h2 {
  margin-bottom: 35px;
}

/* Aside */
aside {
  background-color: var(--dark);
}

/* Footer */
footer {
  width: 100%;
  height: 86px;
  background-color: var(--footer);
  color: var(--grey_footer);
  overflow-y: hidden;
}

footer > * {
  flex-basis: calc(100% / 3);
}

#sinister {
  width: 42px;
}

footer img {
  padding-left:10px;
  padding-top: 30px;
  padding-bottom: 33px;
}
footer i {
  color: var(--light);
}

footer h4 {
  color: var(--light);
}

footer span {
  color: var(--light);
}

.footer_center {
  padding-right: 1rem;
}

#album {
  padding-top: 2rem;
  font-size: 0.7rem;
  padding-left: 10px;
  padding-right: 2rem;
}

#like {
  padding-top: 2.3rem;
}

#total_time {
  margin-left: 10px;
}

#total_time, #total_volume {
  flex-grow: 1;
  height: 5px;
  background-color: var(--light);
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

#current_time,
#current_volume {
  height: 100%;
  background-color: var(--grey);
  border-radius: 5px;
} 

#current_time {
  width: 30%;
}

#current_volume {
  width: 15%;
}

/* #Region Layout */

/* Responsive */
/* @media screen and (min-width:) {

}

@media screen and (min-width:) {

} */