/* Common */
:root {
  --light: #ffffff;
  --dark: #000000;
  --dark_light: #141922;
  --green: #adff2f;
  --grey: #7b7d82;
  --footer: #282828;
  --grey_icon: #808080;
  --grey_footer: #7f7f7f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark_light);
  font-family: "Circular Std", sans-serif;
}

main h2 {
  color: var(--light);
}

img {
  max-width: 100%;
  /* vertical-align: middle; */
}

a {
  text-decoration: none;
}

p {
  padding-bottom: 1rem;
}
/* Utility */
.hr_sm {
  display: none;
}

.d_flex {
  display: flex;
}

.flex_wrap {
  flex-wrap: wrap;
}

.direction_column {
  flex-direction: column;
}

.justify_content_center {
  justify-content: center;
}

.justify_content_end {
  justify-content: flex-end;
}

.justify_content_between {
  justify-content: space-between;
}

.align_item_start {
  align-items: flex-start;
}

.align_items_center {
  align-items: center;
}

.btn {
  border: 1px solid var(--light);
  border-radius: 2rem;
  padding: 7px 32px;
  width: 149px;
  font-size: 0.5rem;
  text-align: center;
}

.btn:hover {
  transform: scale(1.15);
}

.text_center {
  text-align: center;
}

.unstyle_list {
  list-style: none;
}

.circle {
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.gray {
  color: var(--grey_footer);
}

.pl_1 {
  padding-left: 1rem;
}

.pt_1 {
  padding-top: 1rem;
}

.mt_1 {
  margin-top: 1rem;
}

/* #Region Layout */
.top {
  height: calc(100vh - 86px);
  display: flex;
}

.top > .sidebar {
  width: 50px;
  overflow: hidden;
}

.top .sidebar_top {
  height: calc(100% - 70px);
}

.top .sidebar_bottom {
  height: 50px;
  padding-left: 0.5rem;
  padding-right: 0.8rem;
}

.top > .content {
  width: calc(100% - 37px);
  overflow-y: auto;
}

.margin_compensation {
  margin-left: -10px;
  margin-right: -10px;
}

.margin_compensation > [class^="col_"] {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

/* [class^="col-"] {
  padding: 1rem;
} */

.col_xs_1 {
  width: calc(100% / 12);
}

.col_xs_2 {
  width: calc(100% / 12 * 2);
}

.col_xs_3 {
  width: 25%;
}

.col_xs_4 {
  width: calc(100% / 12 * 4);
}

.col_xs_5 {
  width: calc(100% / 12 * 5);
}

.col_xs_6 {
  width: 50%;
}

.col_xs_7 {
  width: calc(100% / 12 * 7);
}

.col_xs_8 {
  width: calc(100% / 12 * 8);
}

.col_xs_9 {
  width: 75%;
}

.col_xs_10 {
  width: calc(100% / 12 * 10);
}

.col_xs_11 {
  width: calc(100% / 12 * 11);
}

.col_xs_12 {
  width: 100%;
}

/* Sidebar */
[alt="Logo"] {
  display: none;
}

[alt="Logo small"] {
  display: flex;
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
  width: 90%;
}

[alt="Home"],
[alt="Search"],
[alt="Libreria"] {
  width: 75%;
  margin-left: 0.3rem;
}

.home,
.search,
.library,
.sidebar_top h4,
#add_list,
.playlist,
.sidebar_top li,
.download span {
  display: none;
}

.search:hover,
.library:hover,
.add_playlist:hover,
.download > span:hover,
.profile > span {
  color: var(--light);
}

.sidebar_top {
  padding: 0.5rem;
  padding-bottom: 11px;
  /* border-left: 3px solid var(--green); */
}

.sidebar_top li {
  padding-bottom: 1rem;
}

aside span {
  vertical-align: middle;
}

aside span,
aside a {
  color: var(--grey);
}

aside a {
  margin-left: 1rem;
}

aside a:hover {
  color: var(--light);
}

aside h4 {
  margin-top: 1rem;
  margin-bottom: -1.5rem;
  margin-left: 1rem;
}

aside h4,
.home {
  color: var(--light);
  padding: 1rem 0;
}

.add_playlist {
  display: none;
  padding-bottom: 1rem;
}

[alt="Profilo"] {
  background-color: var(--grey_icon);
  border-radius: 50%;
  margin-bottom: 0;
}
/* Sidebar bottom */
.sidebar_bottom span {
  display: none;
}
/* Main */
/* Header */
header {
  background-color: var(--dark);
}

header a {
  margin-top: 16px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-right: 11px;
  color: var(--light);
  font-size: 0.7rem;
}

/* Nav */
nav {
  margin-top: 36px;
  margin-bottom: 79px;
}

#navigator > nav li {
  margin: 15px 10px;
}

#green_line {
  position: relative;
}

#green_line::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 1.6rem;
  transform: translateX(-50%);
  width: 40%;
  height: 3px;
  background-color: var(--green);
}

nav a {
  padding-left: 1rem;
  padding-bottom: 30px;
  height: 1rem;
}

nav a:hover {
  color: var(--light);
}

nav a,
.card_body > div,
p {
  color: var(--grey);
}

#current,
#tribute,
#popular {
  margin-left: 1rem;
  margin-right: 1rem;
}

h1 {
  color: var(--light);
  margin-top: -3rem;
}

.content strong {
  color: var(--light);
}

.card_image img {
  padding-bottom: 1rem;
}

.card_body > div,
p {
  font-size: 0.7rem;
}

/* Aside */
aside {
  background-color: var(--dark);
}

/* Footer */
footer {
  width: 100%;
  height: 86px;
  background-color: var(--footer);
  color: var(--grey_footer);
  overflow-y: hidden;
}

footer > * {
  flex-basis: calc(100% / 3);
}

#sinister {
  width: 42px;
}

footer img {
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 33px;
}

#like i:hover {
  color: var(--light);
}

footer i {
  color: var(--light);
}

footer h4 {
  color: var(--light);
}

footer span {
  color: var(--light);
}

.footer_center {
  padding-right: 1rem;
}

.footer_center > div:first-child {
  margin-bottom: 10px;
}

#album {
  padding-top: 2rem;
  font-size: 0.7rem;
  padding-left: 10px;
  padding-right: 2rem;
}

#album,
#timer,
#like {
  display: none;
}

#album > div:hover {
  color: var(--light);
  text-decoration: underline;
}

#like:hover {
  color: var(--light);
}

.fa-circle-play:hover {
  transform: scale(1.15);
}

#timer:hover,
#total_volume:hover {
  cursor: pointer;
}

#total_time:hover > #current_time,
#total_volume:hover > #current_volume {
  position: relative;
  background-color: var(--green);
}

#total_time:hover > #current_time::after,
#total_volume:hover > #current_volume::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  display: inline-block;
  height: 10px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--light);
}

#total_time {
  margin-left: 10px;
}

#total_time,
#total_volume {
  flex-grow: 1;
  height: 5px;
  background-color: var(--light);
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

#current_time,
#current_volume {
  height: 100%;
  background-color: var(--grey);
  border-radius: 5px;
}

#current_time {
  width: 30%;
}

#current_volume {
  width: 15%;
}

#total_volume {
  max-width: 30%;
}
/* #Region Layout */


